* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}
button {
  background: #34547a;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.first-screen {
  background-color: #eeeff1;
  height: 780px;
  display: flex;
  flex-direction: column;
}
.first-screen_head {
  display: flex;
  flex-direction: row;
  margin-top: 79px;
  margin-left: 402px;
}
.first-screen_logotype {
  width: 96px;
  height: 60px;
  margin-right: 398px;
}
.first-screen_menu a {
  width: 611px;
  height: 16px;
  margin-left: 42px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;

  color: #34547a;
}
.first-screen_body {
  display: flex;
  flex-direction: row;
}

.first-screen_picture img {
  margin-top: 187px;
  margin-left: 503px;
  width: 328px;
  height: 225px;
}

.first-screen_maintext {
  margin-left: 142px;
  margin-top: 162px;
}

.first-screen_maintext h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;

  color: #000000;
}
.first-screen_maintext p {
  width: 540px;
  height: 67px;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #727272;
}
.first-screen_maintext_button {
  margin-top: 60px;
  width: 100%;
}
.first-screen_maintext_button button {
  width: 225px;
  height: 65px;
}
.about-me {
  height: 365px;
}
.about-me_maintext {
  width: 540px;
  height: 147px;
  margin: 120px 690px 100px;
}
.about-me_maintext h2 {
  width: 403px;
  height: 30px;
  margin: 0px auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;

  color: #000000;
}
.about-me_maintext p {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.rectangle-projects {
  height: 250px;
  background: #34547a;
  display: flex;
  flex-direction: row;
}
.rectangle-projects_block {
  height: 50px;
  width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.rectangle-projects_pieofblock {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
.rectangle-projects_pieofblock img {
  height: 50px;
  width: 50px;
}
.rectangle-projects_pieofblock_text {
  margin-left: 20px;
}
.rectangle-projects_pieofblock_text h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;

  color: #ffffff;
}
.rectangle-projects_pieofblock_text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #ffffff;
}
.skills {
  height: 650px;
  display: flex;
}
.skills-block {
  margin: auto;
  width: 1150px;
  height: 450px;
  display: flex;
  flex-direction: row;
}
.skills-block_maintext {
  max-width: 445px;
  height: 257px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.skills-block_maintext h2 {
  width: 403px;
  height: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 50px;

  color: #000000;
}
.skills-block_photo {
  margin-left: 150px;
}
.skills-block_photo img {
  max-width: 555px;
  max-height: 450px;
}
.skills-block_maintext_colorblock {
  width: 445px;
  height: 4px;
  background: #c4c4c4;
}
.skills-block_maintext_head p {
  height: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;

  color: #727272;
}
.skills-block_maintext_colorblock p {
  height: 4px;
  width: 335px;
  background: #34547a;
}
.skills-block_maintext_colorblock {
  margin-bottom: 30px;
}
.video-block {
  height: 1004px;
  background: #eeeff1;
}
.video-block_title {
  width: 540px;
  height: 147px;
  margin: 100px 690px 57px;
}
.video-block_title h2 {
  width: 403;
  height: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;

  color: #000000;
}
.video-block_title p {
  width: 540px;
  height: 67px;
  margin-top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: #727272;
}
.video-block_rectangle {
  position: relative;
  margin: 0px 405px 100px;
}
.video-block_rectangle_main {
  width: 1100px;
  height: 600px;
}
.video-block_rectangle_play {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 250px;
  left: 500px;
}
.projects-block {
  height: 960px;
  margin-bottom: 30px;
}
.projects-block_picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.projects-block_picture_col {
  background-size: contain;
  background-color: #34547a;
  background-image: url(./pictures/eye.png);
}
.projects-block_picture_col img {
  width: 100%;
  height: 100%;
}
.projects-block_picture_col img:hover {
  opacity: 0.3;
}
.form-block {
  height: 762px;
  background: #eeeff1;
}
.form-block_title {
  width: 540px;
  height: 147px;
  margin: 100px 690px 65px;
}
.form-block_title h2 {
  width: 406;
  height: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;

  color: #000000;
}
.form-block_title p {
  width: 540px;
  height: 67px;
  margin-top: 50px;
  margin-bottom: 65px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: #727272;
}
.form-block_message {
  width: 540px;
  margin: auto;
}
.form-block_message input {
  width: 240px;
  height: 50px;
  margin: 10px;
  margin-bottom: 20px;
}
.form-block_message input:last-child {
  width: 520px;
  height: 175px;
  margin-bottom: 50px;
}
.form-block_button {
  margin: auto;
  text-align: center;
}
.form-block_button button {
  width: 190px;
  height: 55px;
}
.footer-block {
  height: 151px;
  background-color: #34547a;
  display: flex;
  justify-content: space-around;
}
.footer-block_vklogo img {
  width: 50px;
  height: 50px;
}
.footer-block_author {
  margin: 50px;
}
.footer-block_author h3 {
  margin-bottom: 10px;
}
.footer-block_vklogo {
  margin: 50px;
}

@media (max-width: 1279px) {
  .first-screen {
    height: 870px;
  }
  .first-screen_picture img {
    width: 274px;
    height: 188px;
  }
  .first-screen_menu {
    display: none;
  }
  .first-screen_body {
    display: flex;
    flex-direction: column;
  }
  .first-screen_logotype {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 96px;
    height: 60px;
  }
  .first-screen_picture {
    margin: auto;
  }
  .first-screen_picture img {
    margin: 60px auto;
    width: 300px;
    height: 195px;
  }
  .first-screen_maintext {
    margin: auto;
    width: 100%;
  }
  .first-screen_maintext h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .first-screen_maintext p {
    width: auto;
    height: auto;
    padding: 45px 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #727272;
    word-wrap: break-word;
  }
  .first-screen_maintext_button {
    display: flex;
    justify-content: center;
  }
  .about-me {
    height: 351px;
    margin-bottom: 80px;
  }
  .about-me_maintext {
    margin-left: auto;
    width: 100%;
  }
  .about-me_maintext h2 {
    margin-left: 0;
    width: 100%;
    height: 38px;
  }
  .about-me_maintext p {
    padding: 42px 26px;
    text-align: center;
    margin: 0;
  }
  .rectangle-projects {
    height: 400px;
  }
  .rectangle-projects_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  .rectangle-projects_pieofblock {
    margin: 10px;
    margin-bottom: 50px;
  }
  .skills {
    height: 800px;
    width: 100%;
  }
  .skills-block {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }
  .skills-block_maintext {
    margin: auto;
    order: 2;
    width: 95%;
  }
  .skills-block_maintext h2 {
    display: flex;
    justify-content: center;
  }
  .skills-block_maintext_head {
    margin-left: 10px;
  }
  .skills-block_maintext_colorblock {
    width: 96%;
  }
  .skills-block_maintext_colorblock p {
    width: 75%;
  }
  .skills-block_photo {
    margin: auto;
    max-width: auto;
    order: 1;
  }
  .skills-block_photo img {
    padding: 15px;
    width: 90%;
  }
  .skills-block_maintext h2 {
    margin-top: 50px;
    text-align: center;
    max-width: 320px;
  }

  .video-block {
    height: 630px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .video-block_title {
    margin: 0;
    width: 100%;
    margin-top: 93px;
    justify-content: center;
  }
  .video-block_title p {
    height: auto;
    width: 86%;
    text-align: center;
    margin-top: 34px;
    padding: 0 26px;
    word-wrap: break-word;
  }
  .video-block_rectangle {
    margin: auto;
    width: auto;
    max-height: 220px;
    padding: 18px;
    margin-top: 90px;
  }
  .video-block_rectangle img:first-child {
    margin: 0;
    width: 100%;
    height: 185px;
  }
  .video-block_rectangle img:last-child {
    position: absolute;
    top: 28%;
    left: 38%;
  }
  .projects-block {
    width: auto;
    height: 650px;
    margin-bottom: 150px;
    margin-top: 35px;
  }
  .projects-block_picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects-block_picture_col img {
    width: 100%;
    height: 100%;
  }
  .form-block {
    width: auto;
    height: auto;
  }
  .form-block_title {
    margin: 0;
    margin-top: 91px;
    width: auto;
  }
  .form-block_title h1 {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  .form-block_title p {
    margin: 0;
    text-align: center;
    padding: 34px 26px;
    height: auto;
    width: auto;
    word-wrap: break-word;
  }
  .form-block_message {
    width: auto;
    margin-left: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .form-block_message input {
    width: 85%;
  }
  .form-block_message input:last-child {
    width: 85%;
  }
  .form-block_button button {
    margin: auto;
    margin-bottom: 100px;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 210px;
  }
  .footer-block_author {
    margin: 0;
    text-align: center;
  }
  .footer-block_vklogo {
    margin: 0;
    text-align: center;
  }
}
